* {
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(./fonts/Roboto-Bold.ttf);
}

ul {
    list-style-type: none;
}

body {
    font-family: Roboto, sans-serif;
}

.container {
    display: grid;
    
    grid-template-rows: max-content 1fr;
    grid-template-columns: max-content minmax(600px, 1fr);
    height: max(600px,100vh);
}

.sidebar {
    grid-row: 1/-1;

    background-color: #14532d;
    color:white;

    padding: 16px 32px 0 16px;

    font-family: Roboto-Bold, sans-serif;

    z-index: 2;
}

.title {
    font-size: 42px;

    margin-bottom: 48px;

    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.sidebar-content {
    margin-left: 12px;
}

.sidebar-content li {
    padding: 8px 0px;
    font-size: 24px;
}

.sidebar-content:nth-of-type(1) {
    margin-bottom: 36px;
}

a {
    text-decoration: none;
}

.sidebar a {
    color: white;

    display:grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 20px;
}

a:hover {
    color: rgb(224, 224, 224);
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(643%) hue-rotate(199deg) brightness(89%) contrast(97%);
}

.sidebar img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(0%) hue-rotate(285deg) brightness(103%) contrast(101%);
}

.sidebar-content img {
    height: 32px;
    width: 32px;
    
}

.header {
    display: grid;
    grid-template-rows: max-content max-content;
    gap: 20px;

    
    box-shadow: 1px 0px 10px 0px rgb(184, 184, 184);
    z-index: 1;
    
    background-color: whitesmoke;
}

.header .top {
    
    display: grid;
    grid-template-columns: 4fr max-content;
    align-items: center;
    gap: 40px;
    
    padding: 20px 30px;
}

.header img {
    height: 32px;
    width: 32px;
}

.search {
    display: grid;
    grid-template-columns: max-content minmax(40px, 1000px);
    gap: 16px;
}

.search label {
    display:flex;
    justify-content: center;
    align-items: center;
}

.status-mini {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: end;
    align-items: center;
    gap: 30px;
   
}

img.profile {
    border-radius: 50%;
}

.top img.profile {
    height: 64px;
    width: 64px;
}

.top p {
    font-family: Roboto-Bold;
    font-size: 20px;
}

#search-bar {
    background-color: rgba(226,232,240,255);
    border: 0;
    border-radius: 24px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    padding: 12px 20px;
}



.main-content {
    background-color: rgba(226,232,240,255);
}